In [30]:
import numpy as np
import pandas as pd

In [31]:
df = pd.read_csv('/content/drive/MyDrive/Rainfall/weatherAUS.csv')

In [32]:
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [33]:
df.head()

         Date Location  MinTemp  ...  Temp3pm  RainToday  RainTomorrow
0  2008-12-01   Albury     13.4  ...     21.8         No            No
1  2008-12-02   Albury      7.4  ...     24.3         No            No
2  2008-12-03   Albury     12.9  ...     23.2         No            No
3  2008-12-04   Albury      9.2  ...     26.5         No            No
4  2008-12-05   Albury     17.5  ...     29.7         No            No

[5 rows x 23 columns]

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 145460 entries, 0 to 145459
Data columns (total 23 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           145460 non-null  object
 1   Location       145460 non-null  object
 2   MinTemp        143975 non-null  float64
 3   MaxTemp        144199 non-null  float64
 4   Rainfall       142199 non-null  float64
 5   Evaporation    82670 non-null   float64
 6   Sunshine       75625 non-null   float64
 7   WindGustDir    135134 non-null  object
 8   WindGustSpeed  135197 non-null  float64
 9   WindDir9am     134894 non-null  object
 10  WindDir3pm     141232 non-null  object
 11  WindSpeed9am   143693 non-null  float64
 12  WindSpeed3pm   142398 non-null  float64
 13  Humidity9am    142806 non-null  float64
 14  Humidity3pm    140953 non-null  float64
 15  Pressure9am    130395 non-null  float64
 16  Pressure3pm    130432 non-null  float64
 17  Cloud9am       89572 non-null   float64
 18  Cloud3pm       86102 non-null   float64
 19  Temp9am        143693 non-null  float64
 20  Temp3pm        141851 non-null  float64
 21  RainToday      142199 non-null  object
 22  RainTomorrow   142193 non-null  object
dtypes: float64(16), object(7)
memory usage: 25.5+ MB

In [35]:
Y = df.iloc[:,8].values

In [36]:
Y = Y.reshape(-1,1)

In [37]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
Y = imputer.fit_transform(Y)

In [38]:
df["WindGustSpeed"] = Y

In [39]:
df.describe()

             MinTemp        MaxTemp  ...        Temp9am       Temp3pm
count  143975.000000  144199.000000  ...  143693.000000  141851.00000
mean       12.194034      23.221348  ...      16.990631      21.68339
std         6.398495       7.119049  ...       6.488753       6.93665
min        -8.500000      -4.800000  ...      -7.200000      -5.40000
25%         7.600000      17.900000  ...      12.300000      16.60000
50%        12.000000      22.600000  ...      16.700000      21.10000
75%        16.900000      28.200000  ...      21.600000      26.40000
max        33.900000      48.100000  ...      40.200000      46.70000

[8 rows x 16 columns]

In [40]:
import numpy as np
min_value = df['WindGustSpeed'].min()
max_value = df['WindGustSpeed'].max()
bins = np.linspace(min_value,max_value,4)
labels = ['low', 'mid', 'high']

In [41]:
#df["WindGustSpeed"] = pd.cut(df.WindGustSpeed,bins=[6,49,93,135],labels=['low','mid','high'])
df['WindGustSpeed'] = pd.cut(df['WindGustSpeed'], bins=bins, labels=labels, include_lowest=True)

In [42]:
X = df.drop(labels=['WindGustSpeed',"Date","RainToday","RainTomorrow","Evaporation","Sunshine"], axis=1)
Y = df["WindGustSpeed"]

In [43]:
Y

0         low
1         low
2         low
3         low
4         low
         ...
145455    low
145456    low
145457    low
145458    low
145459    low
Name: WindGustSpeed, Length: 145460, dtype: category
Categories (3, object): ['low' < 'mid' < 'high']

In [44]:
imputer = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
X = imputer.fit_transform(X)

In [45]:
print(X)

[['Albury' 13.4 22.9 ... 7.0 16.9 21.8]
 ['Albury' 7.4 25.1 ... 7.0 17.2 24.3]
 ['Albury' 12.9 25.7 ... 2.0 21.0 23.2]
 ...
 ['Uluru' 5.4 26.9 ... 7.0 12.5 26.1]
 ['Uluru' 7.8 27.0 ... 2.0 15.1 26.0]
 ['Uluru' 14.9 20.0 ... 8.0 15.0 20.9]]

In [46]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
X[:,0] = le1.fit_transform(X[:,0])
le2 = LabelEncoder()
X[:,4] = le2.fit_transform(X[:,4])
le3 = LabelEncoder()
X[:,5] = le3.fit_transform(X[:,5])
le4 = LabelEncoder()
X[:,6] = le4.fit_transform(X[:,6])

In [47]:
Y

0         low
1         low
2         low
3         low
4         low
         ...
145455    low
145456    low
145457    low
145458    low
145459    low
Name: WindGustSpeed, Length: 145460, dtype: category
Categories (3, object): ['low' < 'mid' < 'high']

In [48]:
le6 = LabelEncoder()
Y = le6.fit_transform(Y)

In [49]:
Y

array([1, 1, 1, ..., 1, 1, 1])

In [50]:
Y = Y.reshape(-1,1)

In [51]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler(feature_range=(0,1))
X = sc.fit_transform(X)

In [52]:
Y =np.ravel(Y)

In [53]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=0)

In [54]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=100,random_state=0)
classifier.fit(X_train,Y_train)

RandomForestClassifier(random_state=0)

In [55]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      0.04      0.07        83
           1       0.90      0.96      0.93     23152
           2       0.79      0.60      0.68      5857

    accuracy                           0.89     29092
   macro avg       0.90      0.53      0.56     29092
weighted avg       0.88      0.89      0.88     29092

In [56]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier(random_state=21, max_depth= 7)
dt.fit(X_train, Y_train)
print('Accuracy of DT classifier on training set: {:.2f}'
     .format(dt.score(X_train, Y_train)))
print('Accuracy of DT classifier on test set: {:.2f}'
     .format(dt.score(X_test, Y_test)))
y_pred = dt.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

Accuracy of DT classifier on training set: 0.87
Accuracy of DT classifier on test set: 0.87
              precision    recall  f1-score   support

           0       0.60      0.04      0.07        83
           1       0.89      0.96      0.92     23152
           2       0.75      0.54      0.63      5857

    accuracy                           0.87     29092
   macro avg       0.75      0.51      0.54     29092
weighted avg       0.86      0.87      0.86     29092

In [58]:
from xgboost import XGBClassifier
xgbc = XGBClassifier(objective='binary:logistic')
xgbc.fit(X_train,Y_train)
print('Accuracy of XGBClassifier classifier on training set: {:.2f}'
     .format(knn.score(X_train, Y_train)))
print('Accuracy of XGBClassifier classifier on test set: {:.2f}'
     .format(knn.score(X_test, Y_test)))
y_pred = xgbc.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(Y_test, y_pred))

Accuracy of XGBClassifier classifier on training set: 0.91
Accuracy of XGBClassifier classifier on test set: 0.85
              precision    recall  f1-score   support

           0       0.25      0.01      0.02        83
           1       0.90      0.96      0.93     23152
           2       0.78      0.57      0.66      5857

    accuracy                           0.88     29092
   macro avg       0.64      0.52      0.54     29092
weighted avg       0.87      0.88      0.87     29092